input{

}
#header {
	background: url(../images/pictures/bg_mob.jpg) no-repeat scroll center 0 transparent;
	//height: 1024px;
	padding: 20px 0 0;
	background-size: cover;
	position: relative;

}
#header:before {
	position: absolute;
	content: "";
	background: rgba(255,255,255, 0.8);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}


#header  .logo {
	background: url("../images/Z300-2.png") no-repeat scroll 0 0 transparent;
	height: 120px;
	width: 250px;
}

#header  .phone_box {
	padding: 15px 0 0;
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}

#header  .phone_box .phone {
	font-size: 30px;
}

#header  .phone_box .phone span {
	color: #C5A70A;
	font-weight: 100;
}

#header  .phone_box .small {
	font-size: 16px;
	margin: -8px 0 3px;
}

#header  .phone_box a {
	color: #C5A70A;
	font-size: 20px;
	text-decoration: underline;
}

#header  .phone_box a:hover {
	text-decoration: none;	
}

#header .title {
	font-size: 25px;
	text-align: center;
	font-weight: 100;
	margin: 42px 0 33px;
	text-transform: uppercase;
}
#header .title .text{
	display: block;
	font-weight: 600;
}

#header .video .bg_video {
	background: url(../images/icons/01.png) no-repeat scroll 0 0 transparent;
	//height: 373px;
	//width: 936px;
	width: 100%;
	max-width: 520px;
	margin: 0 auto;
}

.bg_video__element{
	width: 100%;
	max-width: 520px;
	height: 320px;
	margin: 0 auto;
	border: none !important;
}
#header .general_form {
	
	border-top: 1px solid rgba(249, 223, 166, 0.3);
	border-bottom: 1px solid rgba(249, 223, 166, 0.3);
	padding: 10px 0 5px;
	//position: absolute;
	//right: 55px;
	//top: 418px;
	//width: 250px;
	
	

	margin: 0 auto;
	margin-top: 30px;

}
#header .general_form2:before {
	position: absolute;
	content: "";
	background: rgba(255,255,255, 0.8);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 50;

}

#header .general_form .text_form {
	color: #5E0707;
	font-weight: 300;
	text-align:center;
}

#header .balls1 {
	text-align: center;
	margin-top: 35px;
}

#header .balls1 p {
	background: url(../images/icons/02.png) no-repeat scroll 0 19px transparent;
	color: #553A00;
	font-size: 20px;
	font-weight: 300;
	
	
}

#header .balls1 p .title {
	color: #49402B;
	display: block;
	font-size: 30px;
	font-weight: 100;
	margin: 0 0 -6px;
}

#header .balls1 p .title .number {
	font-size: 60px;
	font-weight: 500;
}

#balls1 .large {
	margin: 25px 0 42px;
}

#balls1 .box {
	min-height: 460px;
	/*max-width: 290px;*/
}

#balls1 .box .img img {
	border-radius: 200px;
}

#balls1 .box .title {
	font-size: 26px;
	font-weight: 600;
	margin: 18px 0 10px;
}

#balls1 .box .text {
	color: #414141;
	font-size: 16px;
	font-weight: 100;
}
.content_form {
	text-align: center;
}
.content_form input[type="text"]{
	max-width: 250px;
	margin: 0 auto;
}

#balls_3 {
	padding-top: 30px;
	font-size: 25px;
	font-weight: 100;
}

#balls_3 p {

}

#balls_3 .text1 {

}

#balls_3 .text2 {

}

#balls_3 .text3 {
	
}

#balls_3 .text4 {

}

#balls_3 .text5 {
	
}

#balls_3 .text6 {
	
}

@media only screen and (min-width: 480px) {
	#header .title {
		font-size: 25px;
		font-weight: 100;
		margin: 42px 0 33px;
		text-transform: uppercase;
	 	text-align: center;
	}
}
@media only screen and (min-width: 992px) {
	#header .title {
		font-size: 56px;
		text-align: unset;
	}
	#header:before {
		background: none;
	}
	#header  .phone_box {
		margin-bottom: unset;
	}
	#header .video .bg_video {
		margin: unset;
	}
	#header .general_form {
		margin-top: unset;
		background: rgba(255,255,255, 0.8);
	}
	.bg_video__element{
		width: 520px;
		margin: unset;

	}
	#balls_3 {
		background: url(../images/icons/balls_03.jpg) no-repeat scroll center 180px transparent;
		height: 490px;
		padding-top: unset;
		padding: 30px 0 0;
	}

	#balls_3 p {
		color: #414141;
		font-size: 16px;
		font-weight: 100;
		position: absolute;
	}

	#balls_3 .text1 {
		left: 130px;
		top: 132px;
	}

	#balls_3 .text2 {
		left: 170px;
		text-align: right;
		top: 402px;
	}

	#balls_3 .text3 {
		left: 434px;
		top: 120px;
	}

	#balls_3 .text4 {
		left: 470px;
		text-align: right;
		top: 402px;
	}

	#balls_3 .text5 {
		left: 732px;
		top: 132px;
	}

	#balls_3 .text6 {
		left: 726px;
		text-align: right;
		top: 380px;
	}

}
@media only screen and (max-width: 992px) {
	#header  .logo {
	 	margin: 0 auto;
	}
	
}
@media (min-width: 992px) {
	#header {
	 	background: url(../images/pictures/bg_01_1.jpg) no-repeat scroll center 0 transparent;
	  	height:1100px;
	}
}