#header {
	background: url(../images/pictures/bg_01.jpg) no-repeat scroll center 0 transparent;
	//height: 1024px;
	padding: 20px 0 0;
}

@media (min-width: 1796px) {
	#header {
	  background-size:cover;
	  height:1100px;
	}
}
#header  .logo {
	background: url("../images/Z300-2.png") no-repeat scroll 0 0 transparent;
	//float: left;
	height: 120px;
	//margin: 0 360px 0 0;
	width: 250px;
}

#header  .phone_box {
	padding: 15px 0 0;
	max-width: 320px;
	 margin-left: auto;
}

#header  .phone_box .phone {
	font-size: 30px;
}

#header  .phone_box .phone span {
	color: #C5A70A;
	font-weight: 100;
}

#header  .phone_box .small {
	font-size: 16px;
	margin: -8px 0 3px;
}

#header  .phone_box a {
	color: #C5A70A;
	font-size: 20px;
	text-decoration: underline;
}

#header  .phone_box a:hover {
	text-decoration: none;	
}

#header .title {
	font-size: 56px;
	font-weight: 100;
	margin: 42px 0 33px;
	text-transform: uppercase;
}

#header .video .bg_video {
	background: url(../images/icons/01.png) no-repeat scroll 0 0 transparent;
	height: 373px;
	width: 936px;
}

#header .general_form {
	opacity: 0.7;
	border-top: 1px solid rgba(249, 223, 166, 0.3);
	border-bottom: 1px solid rgba(249, 223, 166, 0.3);
	padding: 10px 0 5px;
	//position: absolute;
	//right: 55px;
	//top: 418px;
	width: 250px;
}

#header .general_form .text_form {
	color: #5E0707;
	font-weight: 300;
	text-align:center;
}

#header .balls1 {
	margin: 4px 0 0;
}

#header .balls1 p {
	background: url(../images/icons/02.png) no-repeat scroll 0 19px transparent;
	color: #553A00;
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	padding: 0 0 0 33px;
}

#header .balls1 p .title {
	color: #49402B;
	display: block;
	font-size: 30px;
	font-weight: 100;
	margin: 0 0 -6px;
}

#header .balls1 p .title .number {
	font-size: 60px;
	font-weight: 500;
}

#balls1 .large {
	margin: 25px 0 42px;
}

#balls1 .box {
	min-height: 460px;
	width: 290px;
}

#balls1 .box .img img {
	border-radius: 200px;
}

#balls1 .box .title {
	font-size: 26px;
	font-weight: 600;
	margin: 18px 0 10px;
}

#balls1 .box .text {
	color: #414141;
	font-size: 16px;
	font-weight: 100;
}
